<!-- <app-home></app-home> -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid uk-overlay-background">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">ngBootstrap</a>
          </div>
          <ul ngbNav #nav="ngbNav" class="navbar justify-content-center">
            <li ngbNavItem><a routerLink="/aacordion"><b>Accordion</b></a></li>&nbsp;&nbsp;&nbsp;
            <li ngbNavItem><a routerLink="/carousel"><b>Carousel</b></a></li>&nbsp;&nbsp;&nbsp;
            <li ngbNavItem><a routerLink="/modal"><b>Modal</b></a></li>&nbsp;&nbsp;&nbsp;
            <li ngbNavItem><a routerLink="/popover"><b>Popover</b></a></li>&nbsp;&nbsp;&nbsp;
            <li ngbNavItem><a routerLink="/typehead"><b>Typehead</b></a></li>

          </ul>

          <!-- <div router-outlet="nav" class="mt-2"></div> -->
        </div>
      </nav>
    </div>
  </div>
</body>

</html>

<router-outlet></router-outlet>
